<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child Vaccination Center</title>
    <link rel="stylesheet" type="text/css" href="/static/paymentconfirmation.css">
</head>
<body>
    <header>
        <h1> Child Vaccination Center</h1>
        <p>"HEALTH IS WEALTH"</p>
        <p>Contact: (123) 456-7890 | Email: info@vaccinationcenter.com</p>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/About Us/">About Us</a></li>
            <li><a href="/Services/">Services</a></li>
            <li><a href="/Vacination Schedule/">Vaccination Schedule</a></li>
            <li><a href="/Resources/">Resources</a></li>
            <li><a href="/Doctors/">Doctors</a></li>
            <li><a href="/Contact Us/">Contact Us</a></li>
        </ul>
    </nav>

    <div class="hero" id="home">
        <h2>Welcome to Our Child Vaccination Center</h2>
        <p>Please Click the below button to Book Your Slot for the Vaccination</p>
        <br>
        <form action="/payment confirmation/" method="post">
            <button >
                <a href="https://buy.stripe.com/test_7sI7wx4P2b5zc7e8wy">Pay Amount</a>
            </button>
        </form>
        
    </div>

 

    <!-- Merged Appointment Form Section -->
    
 



    <footer>
        <p>&copy; 2023 Your Child Vaccination Center. All rights reserved.</p>
    </footer>

    <script src="pat1.js"></script>
</body>
</html>